
# yo code 生成
node_modules
*.vsix

# 参考 LSP Example
out
client/server
.vscode-test

# rust
/server/target/
/target/
# !target/x86_64-unknown-linux-gnu/release/egg-language-server
# !target/x86_64-pc-windows-msvc/release/egg-language-server.exe

# test
scripts/*.csv
scripts/temp.*
