.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md

# 参考 LSP Example
.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**

# 参考 tower-lsp-boilerplate
.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js
client/**
target
