.vscode/**
.vscode-test/**
.gitignore
.github/
scripts/

# keep pictures
doc/
!doc/asserts/icon_128.png
!doc/asserts/demo1.gif

# client
.vscode/**
client/
!client/out/main.js

# server
server/
target/
!target/release/egg-language-server
Cargo.*
.eslintrc.js 
.eslintignore

# others
tsconfig.json