.vscode/**
.vscode-test/**
.gitignore
.github/
scripts/

# keep pictures
doc/
!doc/asserts/icon_128.png
!doc/asserts/demo1.gif

# client
.vscode/**
client/
!client/out/main.js

# server
server/
target/
!target/x86_64-unknown-linux-gnu/release/egg-language-server
!target/x86_64-pc-windows-msvc/release/egg-language-server.exe
# !target/aarch64-unknown-linux-gnu/release/egg-language-server
Cargo.*
.eslintrc.js 
.eslintignore

# others
tsconfig.json